// Fonts
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$muted-color: #50565a;
$primary-color: #f99a9a;
$primary-color-lighten: #ffb5b5;

$header-color: #373644;

a {
	color: inherit;
}

blockquote,
p {
	line-height: 25px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fafafa;
	font-family: Karla, Roboto, Montserrat, "Century Gothic", sans-serif;
	max-width: 100vw;
	margin: 0;
}

main,
header {
	margin: 2% 0%;
}

nav {
	margin: 0 5%;
}

.container {
	margin: 0 7%;
}

nav {
	svg {
		padding: 10px;
	}

	.btn-nav {
		width: 30px;
		height: 30px;
		color: $muted-color;
		margin-top: 5px;
	}
}

#nav-desktop {
	margin-top: -2%;
	text-transform: uppercase;
	padding-top: 3%;
	padding-bottom: 1%;
	display: none;

	.grid-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.btn {
		text-transform: uppercase;
	}

	ul {
		flex-grow: 10;
	}

	li {
		display: inline;
		margin-left: 3%;

		font-weight: bold;
		letter-spacing: 1.4px;

		a {
			text-decoration: none;

			&:hover {
				color: $primary-color;
				transition: color 0.3s;
			}
		}
	}
}

#nav-mobile {
	a {
		text-decoration: none;
	}

	.active {
		background-color: $muted-color;

		a {
			color: #fff;
		}
	}

	li {
		margin: 0 -20px;
		padding: 1em;

		&:hover {
			background-color: $muted-color;
			color: #fff;
			transition: background-color 0.3s, color 0.3s;
		}
	}

	#nav-mobile-links {
		display: none;
	}
}

h1,
h2,
h3,
h4,
h5 {
	color: $header-color;
	font-family: "Montserrat Bold", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

h1,
h2 {
	margin: 10px 0;
}

.hide {
	display: none;
}

.logo {
	width: 200px;
}

.seperator {
	text-align: center;
}

/* Quote from owner */
figure {
	margin: 0;
}

blockquote {
	margin: 0;
}

/* Feature */
#drinks {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 20%;
	}
}

.feature {
	margin: 20px 0;
	text-align: center;

	.feature-content {
		h5 {
			font-size: 1em;
			letter-spacing: 1.3px;
			margin: 0 0 5px 0;
		}

		p {
			margin: 0;
		}
	}

	.feature-icon {
		svg {
			padding-top: 3%;
			margin-right: 15px;
			width: 80px;
			height: 80px;
			margin: 0 20px;
		}
	}
}

#icon-eco svg {
	color: rgb(151, 243, 139);
}

#icon-coffee svg {
	color: rgb(190, 154, 124);
}

#icon-sun svg {
	color: rgb(255, 190, 137);
}

#icon-heart svg {
	color: rgb(235, 115, 115);
}

#icon-gift svg {
	color: rgb(179, 255, 245);
}

#icon-circle svg {
	color: rgb(52, 52, 59);
}

/* Sections */
section {
	margin: 35px 0;

	h1 {
		font-size: 3.3em;
	}

	.section-header {
		text-align: center;

		h1,
		h2 {
			margin-top: 10px;
		}

		p {
			color: $primary-color;
			margin: 0;
		}
	}
}

#welcome {
	text-align: center;
}

#testimonies {
	margin-bottom: 10%;
	.section-header {
		margin-bottom: 4%;
	}
}

#hero {
	h2 {
		font-size: 2.5em;
		color: #fff;
	}

	.hero-image {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/hero/matcha.jpg');

		height: 75vh;

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}

	.push-right {
		margin-left: 30px;
	}

	.hero-text {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
	}

	.social {
		margin-top: 10%;
	}
}

.card {
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

	padding: 30px;
	margin-bottom: 20px;

	.card-header {
		margin-bottom: 5%;
	}
}

footer {
	background-color: #43484b;
	color: #fff;
	text-align: center;
	padding: .5% 0;

	h2 {
		color: #fff;
		padding: 0;
		margin: 0;
	}

	.section-header p {
		color: #fff;
		margin-bottom: 25px;
	}

	form {
		label {
			font-size: 1.3em;
		}

		input[type=email] {
			padding: 10px;
			margin: 10px;
			width: 60%;
		}
	}
}

/* Extras */

.social {
	a {
		padding-left: 10px;
	}
}

.btn {
	background-color: $primary-color;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;

	&:hover {
		background-color: $primary-color-lighten;

		transition: ease-in 0.3s;
	}
}

/* Media Queries */
@media only screen and (min-width: 768px) {
	#nav-mobile {
		display: none;
	}

	#nav-desktop {
		display: block;
	}

	#drinks {
		min-height: 0;

		img {
			width: 50%;
		}
	}
}

@media only screen and (min-width: 1080px) {
	main,
	header {
		margin: 2vh 10vw;
	}

	#hero {
		padding: 0 14%;
	}

	#drinks {
		min-height: 0;

		img {
			width: 80%;
		}
	}

	.feature-left {
		text-align: right;
	}

	.feature-right {
		text-align: left;
	}

	.card {
		margin-right: 20px;
	}

	.grid {
		display: flex;
	}

	.col {
		flex: 1;
		flex-grow: 1;
	}

	.big-col {
		flex-grow: 1;
	}

	footer {
		input[type=email] {
			width: 30% !important;
		}
	}
}

/* Helpers */
.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.right {
	float: right;
}

.left {
	float: left;
}

.circle {
	background-color: $primary-color-lighten;
	border-radius: 100%;
	padding: 10px;
}
